<nav>
    <div class="logo">
        <img src="../../assets/logo.png" />
    </div>
    <div class="links">
        <ul>
            <li>
                <a routerLink="home" class="current">Home</a>
            </li>
            <li>
                <a routerLink="shop">Shop</a>
            </li>
            <li>
                <a routerLink="about">About Us</a>
            </li>
            <li>
                <a routerLink="contact">Contact Us</a>
            </li>
            <li>
                <a routerLink="cart"><i class="fa-light fa-cart-shopping"></i>Cart</a>
            </li>
        </ul>
    </div>
</nav>