<header>
    <h1>About Our Company</h1>
    <img src="././assets/paper1.webp" />
</header>

<section class="history-section">
    <h1>Our history</h1>
    <p>
        {{name}} Fruits and Vegetables offers you the widest, freshest,
        and most nutritious variety of fruits, vegetables,
        and many other naturally grown products.
        We believe in the power of healthy living and are committed
        to providing the very best natural and organic products in the market.
    </p>
    <div class="image">
        <img src="././assets/history.webp" />
    </div>
</section>