<section class="header">
    <h1>
        <span>VITAMINS,</span> <br />
        but with a great taste
    </h1>
    <p>
        {{name}} Fruits and Vegetables offers you the widest, freshest, and most nutritious variety of fruits, vegetables,
        and many other naturally grown products. We believe in the power of healthy living and are committed
        to providing the very best natural and organic products in the market.
    </p>
    <a routerLink="about">Know More</a>
</section>

<section class="header-bottom">
    <img class="img1" src="../../assets/paper1.webp" />
    <img class="img2" src="../../assets/paper2.webp" />
</section>

<section class="about-section" id="about">
    <div class="text">
        <h1>About company</h1>
        <p>
            {{name}} Fruits and Vegetables offers you the widest, freshest,
            and most nutritious variety of fruits, vegetables,
            and many other naturally grown products.
            We believe in the power of healthy living and are committed
            to providing the very best natural and organic products in the market.
        </p>
        <a routerLink="about">Read more</a>
    </div>
    <div class="image">
        <img src="../../assets/about.webp" />
    </div>
</section>

<section class="contact-section">
    <div class="image">
        <img src="../../assets/shop.webp" />
    </div>
    <div class="text">
        <h1>Get in touch</h1>
        <p>
            {{name}} Fruits and Vegetables is a family-oriented business
            which was established in 1994,
            we started small with a pushcart selling
            vegetables in the streets of Beirut,
            we expanded to eventually establishing a showroom;
            importing and exporting to and from several Arab and foreign countries;
            and distributing the widest variety of fruits and vegetables
            to Hotels, stores, restaurants, and supermarkets.
        </p>
        <a href="contact">Know more</a>
    </div>
</section>